.featured {
  position: relative;
  z-index: 10;
  width: 90%;
  margin: 2rem auto;
  height: 80rem;
  padding: 1rem;
  @media only screen and (max-width: 600px) {
    height: 110rem;
}
  

  &__text {
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-direction: column;
    min-width: 20rem;
  }

  &__product-title {
    font-size: 2.8rem;
    color: $color3;
    font-family: $font-family-title;
  }

  &__product-description {
    max-width: 50rem;
  }
  &__image-selector {
    @include flexCenter(row);
    gap: 2rem;
  }

  &__image-selector-dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    transition: all .2s;
    &--active {
      background-color: $color3;
      transform: scale(1.2);
    }
  }
  &__images {
    @include flexCenter(column);
    gap: 10px;
  }

  &__svg {
    position: absolute;
    z-index: 1000;
  }
  &__title {
    font-size: 3rem;
    font-family: $font-family-title;
    text-align: center;
  }

  &__title {
    color: $color3;
  }

  &__product {
    padding: 1rem;
    width: 100%;
    background-color: white;
    margin-block: 2rem;
    @include flexCenter(row);
    gap: 2rem;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
  }
  }
}
