.loginscreen {
    @include flexCenter(column);

    &__register {
        font-size: 2rem;
        color: $color1;
    }

    &__signin {
        @include flexCenter(column);
        justify-content: center;
    }

    &__validateemail {
    }
}
