.productlist {
  position: relative;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  perspective: 800px;
  transform-style: preserve-3d;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    position: relative;
  }
}
