.nav {
    user-select: none;
    background-color: white;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    text-transform: uppercase;
    box-shadow: 0 1px 1px black;

    & a {
        color: black;
    }
}

.nav-list {
    margin: 1rem;
}

.nav-item {
    &__link {
        display: block;
        padding: 5px;
        font-weight: 700;
        @include flexCenter(row);
        justify-content: flex-start;
        margin-left: 3rem;
        line-height: 3.5rem;
        border-radius: 4px;
        &:hover {
            font-size: 2.3rem;
            color: $color2 !important;
            font-weight: 700;
        }

        &--expanded {
            border-bottom: 1px solid rgba(black, 0.2);
        }

        &--notaproduct {
        }
    }

    &__expand-button {
        position: absolute;
        cursor: pointer;
        user-select: none;
        right: 0;
        font-size: 2.5rem;
        padding: 2rem 2rem;
        transition: all 0.2s;
        margin-right: 2rem;
        z-index: 10;

        &--expanded {
            transform: rotateZ(180deg);
        }
    }
}

.nav-submenu {
    margin: 1rem;
    display: block;
    &--hidden {
        display: none;
    }
}
.nav-submenu-item {
    text-align: left;
    cursor: pointer;
    margin-left: 10rem;

    &__link {
        color: $color3 !important;
        display: block;
        width: 100vw;
        &:hover {
            color: $color3;
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    & a {
        color: black;
    }
}
