.select__dropdown {
    appearance: none;
    text-align: center;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding:3px 10px;
    color: white;
    background-color: $color4;
    background-image: none;
    cursor: pointer;
}

.select__form {
    margin: 0 auto;
    position: relative;
    display: flex;
    border-radius: 4px;
    height: 3rem;
    overflow: hidden;
    width: 11rem;

    &::after {
        content: '\25BC';
        position: absolute;
        height: 100%;
        display: block;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0;
        right: 0;
        color: white;
        font-size: 1rem;
        background-color: darken($color4, 5%);
        transition: .25s all ease;
        pointer-events: none;
    }
}

.select__button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15rem;
    display:inline-block;
    padding: 1rem 2rem;
    height: 4rem;
    border: 1px solid black;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    font-weight: bold;
    color: white;
    text-shadow: 0 0.04rem 0.04rem rgba(0,0,0,0.35);
    background-color: $color3;
    text-align:center;
    transition: all 0.15s;
    cursor: pointer;

    &--checkout {
        width: 30rem;
        z-index: 4;
        background-color:#48bf91;

        &::before {
            content: '';
            position: absolute;
            left: -6px;
            height: 4rem;
            width: 3px;
            top: -1px;
            background-color: lighten(#48bf91, 20%);
        }
        &::after {
            content: '';
            position: absolute;
            left: -12px;
            height: 4rem;
            width: 3px;
            top: -1px;
            background-color: lighten(#48bf91, 30%);
        }

    }
}


select::-ms-expand {
    display: none;
  }


