.addtocartcard {
  @include flexCenter(column);
}

.cartform {
  display: grid;
  position: relative;
  min-width: 25rem;
  grid-template-columns: 16rem 1fr;
  row-gap: 2rem;
  border-radius: 5px;
  color: black;
  padding: 2rem;
  align-items: center;

  &__select {
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: max-content;
    padding: 10px;
    height: 5rem;
    overflow: hidden;
    position: relative;
    &::after {
      content: "x";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      padding: 1.6rem;
      background-color: black;
      z-index: 5;

      // & i {
      //   background-color: red;
      //   position: absolute; 
      //   right: 0;
      //   top: 10rem  ;
      //   z-index: 10;
      // }
    }
  }
}

