.container {
    background-color: white;
    margin: 3rem auto;
    width: 90%;
    height: 40rem;
    text-align: center;
    background-color: darken(white, 2%);
}

.title {
    font-size: 2rem;
    width: 90%;
}