.wrapper {
  width: 90%;
  position: relative;
  margin: 0 auto;

  &__wavysurface {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    stroke: $color3;
    opacity: 0.3;
    width: 100%;
    background-color: rgba($color5, 0.8);
    z-index: -2;
  }

  &__underwater {
    position: absolute;
    bottom: -100px;
    left: 0;
    background-image: linear-gradient(white, #8c9ac0);
    width: 100%;
    height: 20rem;
    z-index: -1;
  }


  &__spacer2 {
    width: 100%;
    height: 40vw;
    max-height: 20rem;
  }
}

.shore {
  z-index: -1;
  position: relative;
  background-image: linear-gradient(translucent 30%, white);
  width: 100%;
  margin: 0 auto;
  height: 40vw;
  max-height: 60rem;
  &__svg {
    position: absolute;
    right: 0;
    stroke: red;
    stroke-width: 3px;
    bottom: 0;
    height: 200px;
    z-index: -100;
  }
}

.container {
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  top: 20rem;
  left: 0;
  width: 80%;
  min-width: 300px;
  height: 40vw;
  max-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  border-radius: 4px;
}

.title {
  display: block;
  width: 100%;
  font-size: 2rem;
  z-index: 100;
  width: 90%;
}

.svg {
  margin: 0 auto;
  width: 90%;
  max-width: 60rem;
  height: 100%;
  z-index: 10000;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
}

.svg__class12,
.svg__class2 {
  fill: #fff;
}

.svg__class10,
.svg__class11,
.svg__class4 {
  fill: none;
}

.svg__class5 {
  opacity: 0.69;
}

.svg__class7 {
  opacity: 0.83;
}

.svg__class10,
.svg__class11,
.svg__class12 {
  stroke: #000;
}

.svg__class10,
.svg__class11,
.svg__class12,
.svg__class13,
.svg__class14 {
  stroke-miterlimit: 10;
}

.svg__class10,
.svg__class12 {
  stroke-width: 0.25px;
}

.svg__class13,
.svg__class14 {
  stroke: #fff;
}

.svg__class14 {
  stroke-width: 2px;
}
