
.header {
  text-align: center;
  width: 100vw;
  margin-bottom: 3.2rem;
  position: relative;
  background-size: 100%;
  
  &__svg {
    z-index: 100;
    position: absolute;
    width: 100vw; 
    top: 0;
    left: 0;
  }
}

.mobile-navbar {
  @include flexCenter(row);
  height: 5rem;

  &__button {
    margin-left: auto;
    @include flexCenter(row);
    padding: 1.2rem;
    gap: 1rem;
    z-index: 10;
    cursor: pointer;
  }
}

  .header__logo {
    width: 20rem;
    height: 20rem; 
    display: block;
    object-fit: contain;
    }

.desktop-navbar-container {
  position: relative;
  overflow: hidden;
}
.desktop-navbar {
  position: relative;
  display: grid;
  grid-template-columns: 1rem repeat(8, 1fr) 1rem;
  grid-template-rows: 15rem 5rem;
  grid-template-areas: 
  '. logo logo logo logo logo logo logo logo .'
  '. desktop-nav desktop-nav desktop-nav desktop-nav desktop-nav desktop-nav desktop-nav desktop-nav .'
  ;
  align-items: center;
  justify-content: center;

  &__sociallinks {
    grid-area: facebook-icon;
    
    & i {
      font-size: 2rem;
      color: white;
    }
  }
}


