.productlist {
  position: relative;
  padding: 1rem;
  perspective: 800px;
  transform-style: preserve-3d;
  margin-bottom: 7rem;

  &__cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-auto-rows: 28rem;
    justify-content: center;
    gap: 1rem;
    position: relative;
    max-width: 100rem;
  }
}
