.navBarElement {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  letter-spacing: 0px;
  color: white;
  padding: 10px;
  font-family: "Rubik";
  width: max-content;
  position: relative;

  &:after {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    content: "";
    background-color: rgb(63, 111, 216);
    transform: skew(20deg);
    z-index: -1;
  }

  &:hover:after,
  &.active:after {
    display: none;
  }

  &:hover,
  &.active {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: skew(20deg) scale(1.05);
  }
  &.markwithborder::after {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 10rem;
    height: 2px;
    position: absolute;
    background-color: black;
  }
}

.navBarElement2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  border: none;
  text-decoration: none;
  letter-spacing: 0px;
  color: black;
  padding: 10px;
  font-family: "Rubik Mono One";
  width: max-content;
  border-radius: 3px;
  position: relative;

  &:hover,
  &.active {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: scale(1.05);
  }
}
