.productdetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;

  &__details {
    padding: 1rem;
  }

  &__name {
    font-family: $font-family-producttitle;
    font-size: 3rem;
  }
}
