.productdetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;

  &__details {
  }

  &__name {
    font-family: $font-family-producttitle;
    font-size: 3rem;
  }
}
