.varianttable {
  margin: 1rem;
  width: 90%;
  overflow: hidden;
  &__header > th {
    font-size: 1rem;
  }
  &__data {
    & > td {
      padding: 1rem 0;
      margin: 0;
      overflow: hidden;
    }
  }
}

.marked {
  color: white;
  background-color: grey;
}
