.productdetails {
  position: relative;
  display: grid;
  min-height: 38rem;
  padding-block: 2rem;
  justify-content: stretch;
  text-align: center;
  align-items: center;
  grid-template-columns: 27rem minmax(15rem, 3fr) 8rem;
  gap: 2rem;
  align-content: center;
  grid-template-areas:
    "image  details g"
    " description  description description ";

  &__image-selector {
    position: absolute !important;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    @media only screen and (max-width: 500px) {
      bottom: 30%;
      transform: translateY(-50%) rotateZ(90deg);
      left: -8rem;
    }
  }

  &--nogauge {
    grid-template-columns: 20rem minmax(10rem, 3fr);
    grid-template-areas:
      "image  details"
      " description  description";
  }

  &--oneVariant {
    grid-template-columns: 20rem minmax(10rem, 3fr);
    grid-template-areas:
      "image  details"
      " description  description"
      " p p";
  }

  &__price {
    grid-area: p;
    font-size: 2rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    grid-area: details;
  }

  &__svg {
    position: absolute;
    fill: black;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__image {
    position: relative;
    display: block;
    justify-self: start;
    margin-left: 5px;
    grid-area: image;
    height: 25rem;
  }

  &__name {
    grid-area: name;
    text-align: left;
    text-transform: uppercase;
    color: $color3;
    margin-bottom: 3rem;
    font-family: $font-family-title;
    font-size: 3.5rem;
    border-radius: 4px;
    position: relative;

    &::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 200%;
      content: "";
      background-image: linear-gradient(to right, rgba($color4, 0.5), white);
      border-radius: 1px;
      height: 5px;
    }
  }

  &__maker {
    grid-area: m;
    text-transform: uppercase;
    font-family: $font-family-title;
    color: $color4;
    border-radius: 4px;
  }

  &__rating {
    grid-area: r;
  }

  &__catchphrase {
    grid-area: c;
  }

  &__description {
    grid-area: description;
    display: block;
    align-self: stretch;
    font-style: italic;
    font-size: 2rem;
    justify-self: stretch;
    padding: 2rem;
    color: $color3;
    justify-self: center;
    max-width: 500px;
  }

  &__gauge {
    margin: 0 auto;
    grid-area: g;
    min-width: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .productdetails {
    grid-template-columns: 25rem minmax(10rem, 3fr);
    grid-template-areas:
      "image  details"
      " description  description "
      " g g";

    &__gauge {
      width: 30rem;
    }

    &--nogauge {
    }

    &--oneVariant {
      grid-template-areas:
        "image  details"
        " description  description "
        " p p";
    }
  }
}

@media only screen and (max-width: 500px) {
  .productdetails {
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    &__image {
      width: 40vw;
      min-width: 30rem;
    }
  }
}

.gauge {
  &__indicator {
    // transform: translateY(-20%);
  }
  &__label {
    display: block;
    font-family: $font-family-title;
    transform: translate(-5px);
    color: $color1;
  }
}
