.productdetails {
  position: relative;
  display: grid;
  padding-block: 2rem;
    justify-content: stretch;
  text-align: center;
  align-items: center;
  grid-template-columns: 20rem minmax(15rem, 3fr) 10rem;
  align-content: center;
  grid-template-areas: 

  'image  details g'
  ' description  description description ' 
  ;

  &--nogauge {
    grid-template-columns: 20rem minmax(10rem, 3fr);
    grid-template-areas: 
    'image  details'
    ' description  description' 
    ;
  }

  &__details {
    @include flexCenter(column);
    gap: 1rem;
    grid-area: details;
  }

  &__svg {
    position: absolute;
    fill: black;
    bottom: 0;
    left: 0;
    z-index:-1;
  }


  &__image {
    display: block;
    justify-self: start;
    margin-left: 5px;
    grid-area: image;
  }

  &__name {
    grid-area: name;
    padding: 1rem;
    color: $color3;
    font-family: 'Fisherman';
    font-size: 3.3rem;
    border-radius: 4px;
  }

  &__maker {
    grid-area: m;
    font-family: 'Fisherman';
    color: $color4;
    border-radius: 4px;

  }

  &__rating {
    grid-area: r;
  }

  &__catchphrase {
    grid-area: c;
  }

  &__description {
    grid-area: description;
    display: block;
    align-self: stretch;
    font-style: italic;
    font-size: 2rem;
    justify-self: stretch;
    padding: 2rem;
    color: $color3;
  }

  &__gauge {
    margin: 0 auto;
    grid-area: g;
    min-width: 8rem;
  }
}

@media only screen and (max-width: 500px) {
  .productdetails {
    grid-template-columns: 18rem minmax(10rem, 3fr);
    grid-template-areas: 

    'image  details'
    ' g g' 
    ' description  description '
    ;

    &__gauge {
      width: 33rem;
    }

    &--nogauge {
    }
  }
}






.gauge {
  &__indicator {
    // transform: translateY(-20%);
  }
  &__label {
    font-family: "Fisherman";
    test-align: center;
  }
}