.productscreen {
  overflow: hidden;
  width: 100vw;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__goback {
    margin-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__details {
    min-width: 300px;
    justify-content: center;
  }

  &__tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reviewcards {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-auto-rows: 10rem;
  gap: 10px;
  padding-top: 1rem;
  justify-items:left;
}

.reviewcard {
  @include flexCenter(column);
  background-color: whitesmoke;
  width: 20rem;
  &__comment {

  }

  &__name {

  }

  &__date {
    font-size: 1rem;
  }
}

.showreviews {
  margin: 0 auto;
  width: 80%;
}
.createreview {
  width: 50%;
}