.productscreen {
  overflow: hidden;
  width: 100vw;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__goback {
    margin-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__details {
    // max-width: max-content;
    // min-width: 300px;
    justify-content: center;
  }

  &__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reviewcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  text-overflow: ellipsis;
  grid-auto-rows: 10rem;
  gap: 5px;
  padding-top: 1rem;
  justify-items:left;
}

.reviewcard {
  @include flexCenter(column);
  width: 10rem;
  &__comment {

  }

  &__name {

  }

  &__date {
    font-size: 1rem;
  }
}

.showreviews, .createreview {
  margin: 0 auto;
  width: 80%;
}



.varianttable {
  margin: 0 auto;
  @include flexCenter(column);
  padding: 2rem;
  padding-top: 0;
  min-width: 30rem;
  max-width: max-content;
  position: relative; 

    &::before {
    position: absolute;

  }

  &__select {
    width: 100%;


    @include flexCenter(row);
    & select {
      margin: 1rem;
      width: 20rem;
    }
  }
  &__details {
    max-width: 30rem;
    @include flexCenter(column);
  }
  &__tables {
    background-color: white;
    padding: 1rem;
    @include flexCenter(row);
    flex-wrap: wrap;
    border-radius: 5px;

  }
}