.figure {
  position: relative;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    cursor: auto;
  }

  &__open-button {
    position: absolute;
    bottom: 2rem;
    padding: 5px 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    @include flexCenter(row);
    gap: 5px;
    & i {
      color: $color3;
      font-size: 2rem;
      @include flexCenter(row);
    }
  }

  &__icon {
    color: $color4;
    padding: 1rem;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  & img {
    object-fit: contain;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include flexCenter(column);

  &__button {
    padding: 1rem 2rem !important;
    background-color: $color3 !important;
    color: white;
  }

  &__tools,
  &__ruler {
    background-color: black;
    position: absolute;
    color: white;
    width: 100%;
    margin: 0 auto;
    height: 10rem;
    @include flexCenter(column);
    gap: 1rem;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__ruler {
    background-color: rgba(white, 0.5);
    color: black;
    @include flexCenter(column);
    width: max-content;
    top: 6rem;
    right: 0;
    height: 10rem;
    padding: 1rem 2rem;
    & h2 {
      text-transform: none;
    }
    &--here {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 96px;
        height: 5px;
      }
    }
  }

  &__image {
    width: 90vw;
    object-fit: contain;
    display: block;
  }

  &__container {
    position: fixed;
    background-color: rgba(black, 0.8);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
  }
}
