.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}
.u-margin-top-small {
    margin-top: 2rem !important;
}
.u-margin-top-medium {
    margin-top: 4rem !important;
}
.u-margin-top-big {
    margin-top: 8rem !important;
}
.u-margin-top-huge {
    margin-top: 10rem !important;
}

.u-font-weight-bold {
    font-weight: 700;
}
.u-font-weight-light {
    font-weight: 200;
}
.u-font-style-italic {
    font-style: italic;
    font-weight: 200;
}
.u-retro-font--2 {
    font-family: $font-family-producttitle;
    font-size: 2rem;
}
.u-retro-font--1 {
    font-family: $font-family-producttitle;
    font-size: 1rem;
}
.u-background-sparkle {
    position: relative;
    &::before {
        @include psuedoElement(0, 0, 100%, 10rem);
        box-shadow: 0 0 1rem 1rem $color-background inset;
        background: url(http://www.graphicartsunit.com/images/noise.png);
        opacity: 0.3;
        z-index: -10;
    }
}

.u-background-shade-1 {
    position: relative;
    &::before {
        @include psuedoElement(50%, 50%, 100%, 100%);
        transform: translate(-50%, -50%);
        background-color: $color-background-shade-1;
        width: 130%;
        height: 130%;
        z-index: -10;
        border-radius: 5px;
        opacity: 0.5;
        box-shadow: 0 0 1rem 1rem $color-background-shade-1 inset;
    }
}

.u-accent-color-1 {
    color: $color-background-shade-3;
}

.u-box-shadow {
    box-shadow: 0 2px 5px rgba(#333, 0.1);
    border-radius: 4px;
    padding: 2rem;
}
