.otherpage {
  @include flexCenter(row);
  width: 90vw;
  position: absolute;
  bottom: 0;
  margin: 0.8rem;
  gap: 1rem;
  animation-name: slidein;
  animation-duration: 1s;
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-family-2;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
    &--active {
      border-bottom: 2px solid $color-primary;
    }
  }
}

@keyframes slidein {
  from {
    margin-right: -50%;
  }
  to {
    margin: 0.8rem;
  }
}
