.otherpage {
  display: flex;
  width: 90vw;
  position: absolute;
  bottom: -3rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  gap: 1rem;
  animation-name: slidein;
  animation-duration: 1s;
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Rubik";
    font-size: 0.9rem;
    &:hover {
      cursor: pointer;
    }
    &.active {
      border-bottom: 2px solid rgb(63, 111, 216);
    }
  }
}

@keyframes slidein {
  from {
    margin-right: -50%;
  }
  to {
    margin: 0.5rem;
  }
}
