.banner {
  position: relative;
  overflow: hidden;

  &__crank {
    z-index: 100;

  }

  &__main {
    display: block;
    max-width: 80rem;
    margin: 0 auto;
  }

  &__rod {
    transform: scale(1.2);
  }
  &__rodcontainer {
    transform: translate(-50px, 0px);
  }
}


//Main styles

.prefix__cls-4 {
  mix-blend-mode: multiply
}

.prefix__cls-5 {
  fill: #baf7f7
}

.prefix__cls-10,
.prefix__cls-15,
.prefix__cls-5,
.prefix__cls-6,
.prefix__cls-7,
.prefix__cls-8,
.prefix__cls-9 {
  fill-rule: evenodd
}

.prefix__cls-6 {
  fill: #bbefe8
}

.prefix__cls-7 {
  fill: #fff
}

.prefix__cls-8 {
  fill: #136b6d
}

.prefix__cls-9 {
  fill: #bdf2ea
}

.prefix__cls-10 {
  fill: #c0f9f1
}

.prefix__cls-13 {
  fill: #95b7b6
}

.prefix__cls-15 {
  fill: #2d1005
}

.styledcircle1 {
  mixBlendMode:color-dodge;

}


//ROD styles

.rod__rod__cls-1 {
  fill: none
}

.rod__rod__cls-3,
.rod__rod__cls-4 {
  fill: #2c150e;
  fill-rule: evenodd
}

.rod__rod__cls-4 {
  fill: #fff
}