.banner {
  position: relative;
  overflow: hidden;

  &__svg {
    display: block;
    max-width: 80rem;
    margin: 0 auto;
  }

  &__rod1 {
  
  }
  &__rodcontainer {
    transform: translate(-50px, 0px);
  }
}


.cls-1 {
  fill: none;
}

.cls-2 {
  isolation: isolate;
}

.cls-3 {
  fill: #8adce2;
}

.cls-4 {
  mix-blend-mode: multiply;
}

.cls-5 {
  fill: #baf7f7;
}

.cls-10,
.cls-15,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill-rule: evenodd;
}

.cls-6 {
  fill: #bbefe8;
}

.cls-7 {
  display: none;
  fill: #fff;
}

.cls-8 {
  fill: #136b6d;
}

.cls-9 {
  fill: #bdf2ea;
}

.cls-10 {
  fill: #c0f9f1;
}

.cls-11 {
  fill: #f45c21;
}

.cls-12 {
  mix-blend-mode: color-dodge;
  fill: url(#radial-gradient);
}

.cls-13 {
  fill: #95b7b6;
}

.cls-14 {
  clip-path: url(#clip-path);
}

.cls-15 {
  display: none;
  fill: #2d1005;
}

.st0 {
  fill: none;
}

.st1 {
  clip-path: url(#SVGID_00000163043771410875872820000002738346857994289064_);
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2C150E;
}

.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
}

.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2C150E;
  stroke: url(#Unnamed_Pattern);
  stroke-miterlimit: 10;
}

.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: url(#Unnamed_Pattern);
  stroke-miterlimit: 10;
}