.invitation {
  @include absCenter(full);
  width: 20em;
  height: 20em;
  background-color: rgba(white,.5);
  text-align: center;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;

  &:hover {
    background-color: $color2;
  }

  &__questionmark {
    height: 90%;
    width: 90%;
    @include absCenter(full);
    top: 60%;

  }

  &__title {
    font-size: 3rem;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  @include flexCenter(column);

  &__arrows {
    position: absolute;
    @include flexCenter(row);
    flex-direction: row-reverse;
    gap: 10rem;
    font-size: 3rem;
  }

  &__invitation {
    font-family: $font-family-title;
    font-size: 2rem;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__main {
    display: block;
    max-width: 60rem;
    margin: 0 auto;
  }

  &__fatherson {
    width: 25rem;

  }

  &__rod {
    position: absolute;
    width: 150vw;
      top: -30vw;
      left: -20vw;

    @media only screen and (min-width: 600px) {
      width: 130vw;
      top: -30vw;
      left: -10vw;
    }

    @media only screen and (min-width: 750px) {
      width: 100vw;
      top: -20vw;
      left: 0vw;
    }
  }

}


//Main styles

.prefix__cls-4 {
  mix-blend-mode: multiply
}

.prefix__cls-5 {
  fill: #baf7f7
}

.prefix__cls-10,
.prefix__cls-15,
.prefix__cls-5,
.prefix__cls-6,
.prefix__cls-7,
.prefix__cls-8,
.prefix__cls-9 {
  fill-rule: evenodd
}

.prefix__cls-6 {
  fill: #bbefe8
}

.prefix__cls-7 {
  fill: #fff
}

.prefix__cls-8 {
  fill: #136b6d
}

.prefix__cls-9 {
  fill: #bdf2ea
}

.prefix__cls-10 {
  fill: #c0f9f1
}

.prefix__cls-13 {
  fill: #95b7b6
}

.prefix__cls-15 {
  fill: #2d1005
}

.styledcircle1 {
  mixBlendMode:color-dodge;

}


//ROD styles

.rod__crank {
  cursor: pointer;

  &:hover {
    .rod__targetcricle {
      z-index: -1;
      opacity: 0;
    }
  }
}
.rod__text {
  user-select: none;

  &--wind {
    z-index: 5;
  }
  &:hover {
  }
}
.rod__targetcircle {
  z-index: 100;
  opacity: .5;
  fill: $color1;

}

.rod__progresscircle {
  fill: none;
  stroke-width: .5px;
  stroke: green;
  opacity: 0;
}

.rod__crank {
  cursor: pointer;

}


.rod__cls-1,
  .rod__cls-1,
  .rod__cls-2,
  .rod__cls-3,
  .rod__cls-5,
  .rod__cls-6 {
      fill: none;
  }

  .rod__cls-1,
  .rod__cls-2,
  .rod__cls-3,
  .rod__cls-4,
  .rod__cls-5,
  .rod__cls-6 {
      stroke: #2c150e;
      stroke-miterlimit: 10;
  }

  .rod__cls-1,
  .rod__cls-5 {
      stroke-width: .1px;

  }

  .rod__cls-1,
  .rod__cls-2,
  .rod__cls-3,
  .rod__cls-4,
  .rod__cls-6 {
      fill-rule: evenodd;
      
  }

  .rod__cls-2 {
      stroke-width: .2px;
  }

  .rod__cls-3 {
      stroke-width: .18px;
  }

  .rod__cls-4 {
      stroke-width: .08px;
  }

  .rod__cls-6 {
      stroke-width: .03px;
  }


//fatherson 

.fatherson-cls-1 {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 0.2px;
}

//title

.title-cls-1 {
  opacity: 0.78;
  font-size: 6px;
  fill: #2a344f;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.1px;
}

.title-cls-1, .title-cls-3 {
  font-family: FishermanRegular, Fisherman;
}

.title-cls-2 {
  fill: #e0dfa7;
  stroke-width: 0.03px;
  letter-spacing: 0em;
}

.title-cls-3 {
  fill: none;
  stroke: black;
  stroke-width: .1px;
  font-size: 4.8px;
}

//questionmark

.questionmark-cls-1 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.1px;
}