.logo {
    grid-area: logo;
    position: relative;
    @include flexCenter(row);
    font-family: 'Fisherman';
    margin-top: 2rem;
    color: black;
    gap: 0;

    &__group {
        @include flexCenter(column);
    }

    &__established {
        @included flexCenter(row);
    }
&__svg {
    position: absolute;
    left: 50%;
    top: -2rem;
    transform: translateX(-120%);

}

    &__name {
        font-family: 'Fisherman';
        color:$color2;
        font-size: 6rem;

    }
}