.btn--navbar {
  background: transparent;
  cursor: pointer;
  font-family: 'Nunito Sans';
  @include flexCenter(row);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0px;
  padding: 7px 15px;
  width: max-content;
  position: relative;
  background-color: $color2;
  // border: 2px solid $color-primary;
  border-radius: 2px;
  color: $color3 !important;


  // &:after {
  //   position: absolute;
  //   display: block;
  //   height: 100%;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   content: "";
  //   z-index: -1;
  // }



  &:hover:after,
  &--active:after {
    display: none;
  }

  &:hover,
  &--active {
    color: black;
    transform: scale(1.05);
  }
}

  .btn--navbar2 {
    background: transparent;
    @include flexCenter(row);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    text-decoration: none;
    letter-spacing: 0px;
    color: white;
    padding: 10px;
    font-family: $font-family-2;
    width: max-content;
    border-radius: 3px;
    position: relative;
  
    &:hover,
    &--active {
      background-color: white;
      color: $color3;
      transform: scale(1.05);
    }
  }

  .btn--primary,
  .btn--primary:link,
  .btn--primary:visited {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    bottom: .5rem;
    left: 1.5rem;
    border: none;
    background-color: black;
    padding: .5rem 2rem;
    color: black;
    transition: all 0.2s;
    z-index: 10;

    &--none {
      display: none;
    }
    
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 1px 1px rgba(black, 0.4);
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 3px 2px rgba(black, 0.4);
    }
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 1px 1px rgba(black, 0.4);
    }
  }


  .btn--main {
    background-color: black;
    margin: 2rem auto;
    font-weight: 200;
    z-index: 5;
    justify-self: center;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    &:disabled {
      background-color: #555;
      &:hover, &:active {
        animation: .2s linear 0s 5 alternate shake;
      }
    }

  }

  @keyframes shake {
    from {
      transform: translateX(5%);

    }
    to {
      transform: translateX(-5%);
    }
  }

  .button {
    width: max-content;
    display:inline-block;
    padding:1rem 1rem;
    border:0.1rem solid #000000;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    font-weight: bold;
    color: white;
    text-shadow: 0 0.04rem 0.04rem rgba(0,0,0,0.35);
    background-color: #48bf91;
    text-align:center;
    transition: all 0.15s;
    cursor: pointer;
    width: max-content;


    &:disabled {
      background-color: $color3;
      &:hover, &:active {
        animation: .2s linear 0s 5 alternate shake;
      }
    }
  }