// from https://codepen.io/prallen/pen/AsECw

$info: #F8F4D5;
$info-text: #887b05;
$warn: #F8F4D5;
$warn-text: #96722E;
$error: #fcad95;
$error-text: #dd0c05;
$success: #DDF3D5;
$success-text: #597151;

.message-box{
@include flexCenter(row);
  max-width: max-content;
  min-width: 30rem;
  border-radius: 4px;
  margin: 2rem auto;
  padding: auto 0;
  position: relative;
  i{
    vertical-align: middle;
    padding: 2rem;
    &.exit-button{
      float: right;
      opacity: .4;
      &:hover{
        opacity: .8;
      }
    }
  }
}
.message-text{
  vertical-align: middle;
}
.message-box-info{
  background-color: $info;
  border:  darken($info, 40%) 2px solid;
  color: $info-text;
}
.message-box-warn{
  background-color: $warn;
  border:  darken($warn, 20%) 2px solid;
  color: $warn-text;
}
.message-box-error{
  background-color: $error;
  border:  darken($error, 20%) 2px solid;
  color: $error-text;
}
.message-box-success{
  background-color: $success;
  border:  darken($success, 20%) 2px solid;
  color: $success-text;
}