.footer {
  background-color: whitesmoke;
  color: black;
  padding: 1rem;
}

.footer-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    align-items: flex-start;
  &__col {
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 15rem;
  }
}