.hero {
  display: block;
  width: 100%;
  background: url(https://fishnstik-pictures.s3.amazonaws.com/fish.jpg);
  background-position: 18% 55%;
  background-size: 200vw;
  background-repeat: no-repeat;
  height: 30vw;
  min-height: 300px;
  position: relative;
  overflow: hidden;

  & > header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-attachment: fixed;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.25);
    }
    &::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      top: -20px;
      left: 0%;
      background: inherit;
      background-attachment: fixed;
      -webkit-filter: blur(4px);
      filter: blur(4px);
      overflow: hidden;
    }
    & > h1 {
      margin: 0;
      text-transform: none;
      padding: 1rem;
      // font-family: "Rubik Mono One";
      color: white;
      position: relative;
      z-index: 1;
    }
  }
}

.banner {
  position: relative;
  overflow: hidden;

  &__svg {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
  }

  &__companylogos {
    background-size: 100%;
    background-position: 20%, 20%;
    background-attachment: fixed;    
    gap: 4rem;
    margin: 2rem 0;
    position: relative;
    z-index: -3;
    padding: 2rem;
    width: 70%;
    @include flexCenter(row);

    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.55);    
      display: block;
      z-index: -1;
      @include absCenter(null);
    }
    &::before {
      content: "";
      background: inherit;
      display: block;
      @include absCenter(full);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      z-index: -2;
      transform: translate(-25%, -50%);
    }

    &--images {
      display: flex;
      flex-wrap: wrap;
      width: 220px;
      position: relative;

      & img {
        display: block;
        width: 100px;
        z-index: 10;
      }
    }
    &--description > h1,
    h4 {
      text-align: center;
      width: 300px;
      // color: rgb(63, 111, 216);
      color: white;
    }
  }
  &__cards {
    margin-top: 4rem;
    gap: 2rem;
    @include flexCenter(column);
  }

  &__title {
    margin: 1rem;
    border: 5px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    position: relative;
    background: transparent;

    &::after {
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) skew(20deg);
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(63, 111, 216, 0.1);
      z-index: -5;
    }
    & img {
      display: block;
      width: 300px;
      box-shadow: 1px 0 20px 1px rgba(black, 0.3);
    }

    & h3 {
      width: 25rem;
      color: white;
    }
  }
  &--manufacturing {
    align-self: flex-end;
  }
}
