.homescreen {
    position: relative;
    overflow: hidden;
    &__image {
        position: absolute;;
        left: 0;
        top: 0;
        width: 100%;
        min-width: 100rem;
    }

    &__spacer {
        height: 30vw;
        width: 100%;
        background-color: transparent;
    }

    &__plane {
        overflow: hidden;
    }

    &__box {
        width: 100%;
        position: relative;
    }
    &__intro {
        width: 80%;
        max-width: 60rem;
        margin: 10vw auto;
        text-transform: none;
        @include flexCenter(column);
        gap: 2rem;

        & h1 {
            font-family: $font-family-title;
            max-width: 90%;
            font-size: 3rem;
        }

        & h2 {
            text-transform: none;
        }
    }
}

@keyframes flight {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
