.homescreen {
    position: relative;
    overflow: hidden;

    &__plane {
        overflow: hidden;
    }

    &__box {
        width: 100%;
        position: relative;
    }
    &__intro {
        width: 90%;
        margin: 0 auto;
        text-transform: none;
        margin-block: 10rem;
        @include flexCenter(column);
        gap: 2rem;

        & h1 {
            font-family: $font-family-title;
            max-width: 90%;
            font-size: 3rem;
        }

        & h2 {
            text-transform: none;
        }
    }
}

@keyframes flight {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
