* {
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

main {
  min-height: 80vh;
  max-width: 1300px;
  margin: 0 auto;
}

html {
  /* background-color: red; */
}

body {
  padding: 0;
}

input {
  padding: 0.8rem;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid #333;
  border-radius: 1px;
}

a {
  text-decoration: none;
  color: black;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
}

button.animated-button:link:hover:after,
button.animated-button:visited:hover:after {
}

button.animated-button.calltoaction {
}
