.snap1 {
    width: 5rem;
    height: 2rem;
    z-index: 10000;
    fill: none;
    stroke-linecap:round;
    stroke-width: 21px;
    stroke: $color3;
    transform: translate(20%,-10%) rotateZ(-5deg);
}

