.header {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100vw;
  margin-bottom: 3.2rem;
  padding: 0 1.6rem;
  height: 10rem;
  z-index: 10;
  background: white;
  
}
.headertop {
    height: 8rem;
    gap: 1.6rem;
    @include flexCenter(row);

    &__logo {
      display: block;
      height: 4rem;
      cursor: pointer;
      width: 9rem;
    }
    &__withuser {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
    &__withoutuser {
      display: flex;
      gap: 2rem;
      margin-left: auto;
    }
  }

.nav {
    // @include absCenter(null);
    gap: 0.2rem;
    margin: 5px;
    width: 100%;
    @include flexCenter(row);
    flex-wrap: wrap;
    &__search {
      @include flexCenter(row);
      width: min-content;
      margin-left: 1.2rem;
    }
}

.fa-search {
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 50rem) {
  .nav {
    width: 40rem;
  }
}
