.variants {
    display: grid;
    box-shadow: 0 1px 1px black;
    padding: 1rem;
    border-collapse: collapse;
    min-width: 100%;
    row-gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 
      10rem
      minmax(5rem, 2fr)
      6rem
      minmax(5rem, 2.5fr)
      minmax(5rem, 1fr)
      10rem
    ;

    & th {
        display:block;
        color: $color4;
        font-family: 'Fisherman';
        padding: 1rem;
        font-size: 2rem;
    }

    &__image {
        grid-column: 1 / span 1;
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}