.cartscreen {
    padding: 1rem;
    position: relative;
    &::before {
        @include psuedoElement(0, 0, 100%, 10%);
        background:url(http://www.graphicartsunit.com/images/noise.png);;
    }
}
.cartitems {
    display: grid;
    margin: 0 auto;
    width: 70%;
    grid-template-columns: minmax(10rem, 3fr) minmax(20rem, 3fr) minmax(6rem, 1fr) minmax(3rem, 1fr);
    gap: 5px;
    grid-auto-rows: 10rem;
    text-align: center;

    &__header {
        align-self: end;
        padding: 5px 15px;
        text-transform: uppercase;
        position: relative;
        color: black;
        &::after {
            @include psuedoElement(0, 0, 100%, 100%);
            background-color: whitesmoke;
            transform: skew(20deg);
            z-index: -1;    

        }
    }

    &__subtotal {
        @include flexCenter(column);
        padding: 2rem;
        background-color: whitesmoke;
        border-radius: 5px;
        gap: 1rem;

    }

}