.cartscreen {
    padding: 1rem;
}
.cartitems {
    display: grid;
    margin: 0 auto;
    max-width: 100rem;
    grid-template-columns: minmax(13rem,1fr) minmax(15rem, 3fr) minmax(6rem, 1fr) minmax(3rem, 1fr);
    gap: 1rem;
    text-align: center;

    &__header {
        align-self: end;
        padding: 1rem;
        text-transform: uppercase;
        position: relative;
        color: $color4;
        font-family: 'Fisherman';
        font-size: 2rem;
        &::after {
            @include psuedoElement(0, 0, 100%, 100%);
            background-color: whitesmoke;
            transform: skew(20deg);
            z-index: -1;    

        }
    }

    &__subtotal {
        @include flexCenter(column);
        padding: 2rem;
        border-radius: 5px;
        gap: 1rem;

    }

}