.container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 10px;
}

.addToCart {
    margin-top: 6rem;
    @include flexCenter(row);
    min-width: 30rem;
    gap: 3rem;
    justify-content: space-between;
    cursor: pointer;

    & span {
        text-align: right;
        color: $color3 !important;
        font-size: 2.5rem;

    }

}

.instock {
    font-size: 2rem;
    color: green;
}

.selector{
    @include flexCenter(row);
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 3rem;
    padding-block: 5rem;
}

.selectors {
    font-size: 2rem;
    & span {
        margin-left: 5px;
        display: block;
        margin-top: 2rem;
    }


}
.text {
    width: max-content;
    gap: 2rem;
    min-width: 40rem;
}

.name {
    font-family: $font-family-title;
    font-size: 4rem;
    color: $color3;
    padding: 1rem 2rem;
    border-radius: 4px;
    margin-bottom: 1;
}


.description {
    @include flexCenter(row);
    background-color: $color5;
    min-height: 40vw;
    color: white;
    width: 100%;
    padding: 2rem;
    border-radius: 3px;
    font-size: 2.2rem;
    text-align: center;
    
}

.mainimage {
    @include flexCenter(column);
    gap: 2rem;
    flex: 0 0 1;
}

.imagetag {
    width: 100%;
}

.additbutton {
    outline:transparent;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    width: 25rem;
    font-size: 2rem;
    letter-spacing: 4px;
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    text-align: center;
    background-color: #FF5656;
    color: white;
    &:disabled{
        background-color: gray;
    }
}

.fingerpointingup {
    background-color: red;
}

.outofstock {
    border: 1px solid rgba(black, .2);
    margin-top: 3rem;
    padding: 2rem;
    gap: 2rem;
    @include flexCenter(column);
    justify-content: space-evenly;

    & input {
        width: 25rem;
        height: 4rem;
        font-size: 2rem;
        padding: 2rem;
    }
}