.paymentscreen {
    @include flexCenter(column);
    gap: 1rem;
    
    &__label {
        position: relative;
        &::after {
            @include psuedoElement(0, -2.5rem, 100%, 100%);
            content: '';
            font-size: 2rem;
            border: 1px solid black;
            border-radius: 2px;
            width: 2rem;
            height: 2rem;
            background-color: $color3;
        } 
        &::before {
            @include psuedoElement(-1px, -16.5px, 100%, 100%);
            content: 'X';
            z-index: 10;
            color: white;
            overflow: hidden;
        } 

        
 
    }

    &__input {
        display: none;
    }
    
    & button {
        margin-top: 1rem;
        display: block;
    }
}

