.userpanel {
    height: 5rem;
    background-color: #e5e5e580;
    gap: 1.6rem;
    @include flexCenter(row);

    &__withuser {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
    &__withoutuser {
      display: flex;
      gap: 2rem;
      margin-left: auto;
    }

    &--mobile a {
      margin-left: auto;
      font-size: 2rem;
    }

  }