.productcard {
  width: 18rem;
  height: 25rem;
  position: relative;
  border-radius: 3px;
  transition: all 5s;
  padding: 0;
  overflow: hidden;
  cursor: pointer;

  &:hover &__button {
    display: block;
    animation: grow 1s normal;
    &::after {
      animation: radiate 1s normal;
    }
  }

  &__image {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    height: 21rem;
  }

  &__name {
    position: absolute;
    bottom: 0;
    left: 0;
    @include flexCenter(row);
    line-height: 1.6rem;
    width: 100%;
    height: 4rem;
    background-color: rgba(black, 1);
    color: white;
    text-align: center;  
    z-index: 100;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 3rem;
    z-index: 2;
    transition: all 4s;
    &::after {
      @include psuedoElement(50%, 50%, 100%, 100%);
      content: '';
      transform: translate(-50%, -50%); 
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      border: 1px solid #aaa;
      z-index: 1;
    }
  }
}


@keyframes radiate {
  from {

  }

  to {
    width: 100rem;
    height: 100rem;
  }
}



@keyframes grow {
  from { 

  }

  to {
    transform: translate(-50%, -50%) scale(1.03); 

  }
}