.OTP_instructions {
  width: 70vw;
  text-align: center;
  transform: translateX(-25%);
}

.registerscreen {
  @include flexCenter(column);
}
.registrationform {
@include flexCenter(row);
max-width: 50rem;
flex-wrap: wrap;
  &__alreadyhaveaccount {
    width: 100%; 
  }
}