.game {
    @include flexCenter(column);
    background-color: rgba(white, 0.9);
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 80%;
    min-width: 300px;
    height: 100%;
    border: 1px solid $color3;

    &__console {
        @include flexCenter(column);
        width: 95%;
        margin: 1rem;
    }

    &__instructions {
        padding: 3rem;
        font-family: Arvo;
    }

    &__title {
        width: 30rem;
    }
}

.crank {
    width: 15rem;
    height: 15rem;
    // background-color: rgba(white, 0.2);
    margin: 10rem auto;

    &__cls1 {
        fill: none;
        stroke: black;
        stroke-width: 3px;
        stroke-miterlimit: 10;
    }

    &__cls2 {
        fill: none;
    }
}

.gauges {
}

.RPMgauge {
    width: 100%;
    max-width: 230px;

    &__setpoint {
        stroke-dasharray: 134.1857147216797;
        stroke-linecap: round;
        stroke-width: 6px;
    }

    &__cls4 {
        font-size: 28px;
        fill: #231f20;
        font-family: Arvo;
    }
}
