.container {
    padding: 10rem;
    @include flexCenter(row);
    flex-wrap: wrap;
}

.pricebox {
    position: relative;
    background-color: red;
}

.description {
}

.dropdowns {
    padding: 1rem;
    @include flexCenter(column);
    gap: 10px;
}

.quantityDropdown {
}

.discountPrice {
}
