.oneVariant {
    margin-bottom: 2rem;
    @include flexCenter(column);
    gap: 1rem;
    position: relative;
    padding-left: 5px;
    height: 20rem;
    width: 100%;
    background-color: darken(white, 4%);

    &__select {
        @include flexCenter(row);
        gap: 2.5rem;
    }

    &__outofstock {
        margin: 0 auto;
        cursor: pointer;
        z-index: 2;
    }

  
    &__quantity {
        @include flexCenter(row);
        gap: 2.5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 560px) {
    .cartitem {
        height: 22rem;
      &__image {
          width: 12rem;
      }
    }
  }


.outofstock {
    @include flexCenter(row);
    height: 10rem;
    box-shadow: 0 1px 1px 1px rgba(black, .1);

    &__content {
        padding: 2rem;
        display: flex;
        flex-direction: column;

    }



    &__info {
        color: $color1;
        font-style: italic;
    }

    &__expand {
        height: 100%;
        width: 15rem;
        background-color: whitesmoke;
        margin-left: auto;
        cursor: pointer;
        border-left: 1px solid darken($color2,0%);
        @include flexCenter(column);

    }

}