.logo {
    grid-area: logo;
    position: relative;
    @include flexCenter(row);
    font-family: $font-family-title;
    text-transform: uppercase;
    margin-block: 2rem;
    font-weight: 400;
    color: black;
    gap: 0;

    &__group {
        @include flexCenter(column);
    }

    &__established {
        @included flexCenter(row);
    }
&__svg {
    position: absolute;
    left: 50%;
    top: -2rem;
    transform: translateX(-120%);

}

    &__name {
        font-family: $font-family-title;
        // text-shadow: 0px 1px 1px rgba($color1,1);
        font-weight: 700;
        color:rgba($color2, .7);
        font-size: 5rem;

    }
}