.logo {
    grid-area: logo;
    position: relative;
    @include flexCenter(row);
    font-family: $font-family-title;
    text-transform: uppercase;
    margin-block: 2rem;
    font-weight: 400;
    color: black;
    gap: 0;

    &__group {
        @include flexCenter(column);
        gap: 5px;
    }

    &__established {
        @include flexCenter(row);
        gap: 3px;
    }

    &__hook {
        stroke: $color3;
    }


    &__name {
        font-family: $font-family-title;
        font-weight: 700;
        color:rgba($color2, .7);
        font-size: 5rem;

    }
}