.aboutus {
    max-width: 80rem;;
    margin: 0 auto;
    &__box {
        padding: 3rem;
        padding-top: 5rem;
        background-color: $color3;
        color: white;
        position: relative;
    }
    &__header {
        color: $color2;
        position: absolute;
        width: max-content;
        font-size: 3rem;
        top: 2rem;
        left: 0;
        margin-left: 3.5rem;
    }
    &__title {
        margin: 0 auto;
        max-width: 80rem;
        text-align: center;
        padding: 5rem;
        font-size: clamp(2.5rem, 3vw, 3rem);
        font-weight: 200;
    }
    &__perks {
        @include flexCenter(column);
        gap: 1rem;
        padding: 2rem;
        font-size: 2rem;
    }
}
